.diary-title {
  border: none;
  outline: none;
  font-size: 32px;
  width: 80%;
  background: none;
  margin-top: 4px;
  font-family: "KaushanScript", "Arial";
}

.diary-time {
  border: none;
  outline: none;
  background: none;
}
