#diary-form-content .ck-heading-dropdown {
  width: 100px;
}

#diary-form-content .ck {
  padding-left: 0px;
  border: none;
  background: none;
}

#diary-form-content .ck:focus {
  box-shadow: none;
}

#diary-form-content .ck-sticky-panel__content {
  border-bottom: 0.2px rgba(104, 104, 104, 0.4) solid;
  position: static;
  top: 100px;
}
